body {
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
}

header{
    background-color: #5ccccc;
    padding: 40px;
    margin-bottom: 20px;
}

.link-header{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px;
    font-size: 30px;
}

.link-header:hover {
    background-color: white;
    color: #5ccccc;
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

h1{
    font-size: 70px;
    color: black;
    text-shadow: 0px 20px 10px grey;
    text-align: center;
}

article{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

ul, ol {
    font-size: 25px;
    margin-left: 50px;
}

footer{
    background-color: #5ccccc;
    padding: 20px;
    text-align: center;
    color: white;
}

.text-big{
    font-size: 30px;
    text-align: center;
}

nav {
    text-align: center;
}

.link-nav {
    margin: 40px;
    text-decoration: none;
    color: #5ccccc;
    border: 1px solid #5ccccc;
    padding: 10px;
}

.link-nav:hover {
    background-color: #5ccccc;
    color: white;
}

main p {
    font-size: 25px;
}

main{
    margin-bottom: 40px;
}
